<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nefrock.flex.app" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

<!--    <permission-->
<!--        android:name="android.permission.FLASHLIGHT"-->
<!--        android:description="@string/permdesc_flashlight"-->
<!--        android:label="@string/permlab_flashlight"-->
<!--        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"-->
<!--        android:protectionLevel="normal" />-->

    <application
        android:name=".FlexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlexInvoice" >
        <activity
            android:name="com.nefrock.flex.app.TakePicturesActivity"
            android:exported="true" />
        <activity
            android:name="com.nefrock.flex.app.ValReaderActivity"
            android:exported="true" />
        <activity
            android:name="com.nefrock.flex.app.ReaderActivity"
            android:exported="true" />
        <activity
            android:name="com.nefrock.flex.app.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.nefrock.flex.app.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>